/*.suo
/*.pdb
/DAL/obj/Debug/*.cache

/DAL/obj/Debug/*.cache

/RentalApi/obj/Debug/*.cache
/RentalApi/obj/Debug/*.tmp
/RentalApi/obj/Debug/*.pdb

/RentalApi/obj/Debug/RentalApi.dll
/Rental/obj
/Rental/bin/Debug/*.pdb
*.pdb

*.pdb

*.pdb
obj

/DTO/obj
/DgvFilterPopup/obj

/DAL/obj

/DAL/bin/Debug/DAL.dll
/DAL/bin/Debug/DAL.dll.config
/DAL/bin/Debug/EntityFramework.dll
/DAL/bin/Debug/EntityFramework.xml
/DAL/bin/Debug/LinqKit.dll
/DAL/bin/Debug/MySql.Data.dll
/DAL/bin/Release/DAL.dll
/DAL/bin/Release/DAL.dll.config
/DAL/bin/Release/EntityFramework.dll
/DAL/bin/Release/EntityFramework.xml
/DAL/bin/Release/LinqKit.dll
/DAL/bin/Release/MySql.Data.dll
/Rental/bin/Debug/Media

/DgvFilterPopup/bin/Debug/DgvFilterPopup.XML
/DgvFilterPopup/bin/Debug/DgvFilterPopup.dll
/DAL/bin/Release/RentalCommon.dll
/RentalCommon/bin/Release/RentalCommon.dll
/RentalCore/bin/Release/RentalCommon.dll
/Rental/bin/Debug/*.log

/ImageProcessing/bin/Debug/*.dll
/DAL/bin/Debug/*.dll

/Rental/bin/Debug/*.dll
/RentalCMS/bin/*.dll

/RentalCore/bin/Debug/*.dll

/Rental/bin/Debug/*.config

/RentalCore/bin/Debug/*.config

/Controls/bin/Debug/*.dll
/rec/bin/Debug/*.exe
/Rental/bin/Debug/*.exe
/RentalCommon/bin/Debug/*.dll

/Rental/bin/Debug/*.manifest
/Rental/publish/Application Files/Rental_1_0_0_0
/Rental/bin/Debug/*.application
/Rental/publish/*.application

/DAL/bin/Debug/*.xml

/DAL/bin/Release/Omu.ValueInjecter.xml
/RentalCMS/bin/EntityFramework.xml
/RentalCMS/bin/Omu.ValueInjecter.xml
/Controls/bin/Release/*.dll
/DAL/bin/Release/*.dll
/DAL/bin/Release/*.dll
/DAL/bin/Release/*.dll
/DAL/bin/Release/*.dll
/DAL/bin/Release/*.dll
/DAL/bin/Release/*.dll
*.suo
/RentalCMS/bin/RentalCMS.dll.config

/Migration/bin/Debug/Migration.exe
