/*.suo
/*.pdb
/DAL/obj/Debug/*.cache

/DAL/obj/Debug/*.cache

/RentalApi/obj/Debug/*.cache
/RentalApi/obj/Debug/*.tmp
/RentalApi/obj/Debug/*.pdb

/RentalApi/obj/Debug/RentalApi.dll
/Rental/obj
/Rental/bin/Debug/*.pdb
*.pdb

*.pdb

*.pdb
obj

/DTO/obj
/DgvFilterPopup/obj

/DAL/obj

/DAL/bin/Debug/DAL.dll
/DAL/bin/Debug/DAL.dll.config
/DAL/bin/Debug/EntityFramework.dll
/DAL/bin/Debug/EntityFramework.xml
/DAL/bin/Debug/LinqKit.dll
/DAL/bin/Debug/MySql.Data.dll
/DAL/bin/Release/DAL.dll
/DAL/bin/Release/DAL.dll.config
/DAL/bin/Release/EntityFramework.dll
/DAL/bin/Release/EntityFramework.xml
/DAL/bin/Release/LinqKit.dll
/DAL/bin/Release/MySql.Data.dll
/Rental/bin/Debug/Media
