<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!--<add name="rentalEntities" connectionString="metadata=res://*/rental.csdl|res://*/rental.ssdl|res://*/rental.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1qazxsw2;persist security info=True;database=gb_x_amiravrn&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="rentalEntities" connectionString="metadata=res://*/rental.csdl|res://*/rental.ssdl|res://*/rental.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql78.1gb.ru;user id=gb_x_amiravrn;password=0063c98esg;persist security info=True;database=gb_x_amiravrn&quot;" providerName="System.Data.EntityClient" /> -->
    <!--<add name="rentalEntities" connectionString="metadata=res://*/rental.csdl|res://*/rental.ssdl|res://*/rental.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql78.1gb.ru;user id=gb_x_amiravrn;password=0063c98esg;persist security info=True;database=gb_x_amiravrn&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="rentalEntities2" connectionString="metadata=res://*/rental.csdl|res://*/rental.ssdl|res://*/rental.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql78.1gb.ru;user id=gb_x_amiravrn;password=0063c98esg;persist security info=True;database=gb_x_amiravrn&quot;" providerName="System.Data.EntityClient" />-->
     <add name="rentalEntities" connectionString="metadata=res://*/rental.csdl|res://*/rental.ssdl|res://*/rental.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql78.1gb.ru;user id=gb_x_amiravrn;password=0063c98esg;persist security info=True;database=gb_x_amiravrn&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />

      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />

      <!--<add name="MySQL Data Provider" 
           invariant="MySql.Data.MySqlClient" 
           description=".Net Framework Data Provider for MySQL" 
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      -->
    </DbProviderFactories>


  </system.data>
</configuration>