update flat_info set bathunit_type_id = 1, BATH_UNIT = '' where BATH_UNIT like '%ςݥ';
update flat_info set bathunit_type_id = 1, BATH_UNIT = '' where BATH_UNIT like '%ϗͅӔΥ';
update flat_info set bathunit_type_id = 2, BATH_UNIT = '' where BATH_UNIT like '%Zą̘Υ';
update flat_info set bathunit_type_id = 3, BATH_UNIT = '' where BATH_UNIT like '%2%';
update flat_info set bathunit_type_id = 4, BATH_UNIT = '' where BATH_UNIT like '%3%';
update flat_info set bathunit_type_id = 5, BATH_UNIT = '' where BATH_UNIT like '%ďͥ';
update flat_info set bathunit_type_id = 6, BATH_UNIT = '' where BATH_UNIT like '%ՌɃ%';


update flat_info set buld_type_id = 1, BUILD = '' where BUILD like '%ą҅ץ';
update flat_info set buld_type_id = 1, BUILD = '' where BUILD like '%ŗ%';
update flat_info set buld_type_id = 2, BUILD = '' where BUILD like '%ˉҐ%';
update flat_info set buld_type_id = 3, BUILD = '' where BUILD like '%ˏԥ';
update flat_info set buld_type_id = 4, BUILD = '' where BUILD like '%̉ԥ';
update flat_info set buld_type_id = 5, BUILD = '' where BUILD like '%ЁΥ';
update flat_info set buld_type_id = 5, BUILD = '' where BUILD like '%Ϟ%';
update flat_info set buld_type_id = 6, BUILD = '' where BUILD like '%Џͅݥ';
update flat_info set buld_type_id = 6, BUILD = '' where BUILD like '%Џͅݥ';
update flat_info set buld_type_id = 7, BUILD = '' where BUILD like '%ďͥ';

update flat_info set state_type_id = 1, STATE = '' where STATE like '%Ќψ%';
update flat_info set state_type_id = 1, STATE = '' where STATE like '%ϞŎإ';
update flat_info set state_type_id = 1, STATE = '' where STATE like '%Մϗ̥';
update flat_info set state_type_id = 1, STATE = '' where STATE like '%މӔ%';
update flat_info set state_type_id = 2, STATE = '' where STATE like '%Ӓń%';
update flat_info set state_type_id = 2, STATE = '' where STATE like '%Ώҍ%';
update flat_info set state_type_id = 2, STATE = '' where STATE like '%ĎŅ%';
update flat_info set state_type_id = 2, STATE = '' where STATE like '%Ӌҏ͎%';
update flat_info set state_type_id = 2, STATE = '' where STATE like '%Ӆ%';
update flat_info set state_type_id = 3, STATE = '' where STATE like '%̉ގ%';
update flat_info set state_type_id = 3, STATE = '' where STATE like '%ȏҥ';
update flat_info set state_type_id = 3, STATE = '' where STATE like '%Ώץ';
update flat_info set state_type_id = 4, STATE = '' where STATE like '%Ε֥';
update flat_info set state_type_id = 4, STATE = '' where STATE like '%Ԓł%';
update flat_info set state_type_id = 5, STATE = '' where STATE like '%ϓ̅%';
update flat_info set state_type_id = 6, STATE = '' where STATE like '%ŗҏ%';
update flat_info set state_type_id = 7, STATE = '' where STATE like '%ˏӍŔ%';
update flat_info set state_type_id = 8, STATE = '' where STATE like '%ځӔҥ';


update flat_info set term_type_id = 1, TERM = '' where TERM like '%Čɔ%';
update flat_info set term_type_id = 1, TERM = '' where TERM like '%ͅӥ';
update flat_info set term_type_id = 1, TERM = '' where TERM like '%̅ԏ%';
update flat_info set term_type_id = 2, TERM = '' where TERM like '%ӕԋ%';

update flat_info set lessor_type_id = 1, LESSOR = '' where LESSOR like '%홥';
update flat_info set lessor_type_id = 2, LESSOR = '' where LESSOR like '%ᇅΥ';
update flat_info set lessor_type_id = 3, LESSOR = '' where LESSOR like '%菚%';


update flat_info set region_type_id = 1, REGION = '' where REGION like '%돍Ɏԥ';
update flat_info set region_type_id = 2, REGION = '' where REGION like '%ㅎԒ%';
update flat_info set region_type_id = 3, REGION = '' where REGION like '%毤%';
update flat_info set region_type_id = 4, REGION = '' where REGION like '%셗%';
update flat_info set region_type_id = 5, REGION = '' where REGION like '%ӏץ';
update flat_info set region_type_id = 6, REGION = '' where REGION like '%̅Υ';