<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="rentalEntities" connectionString="metadata=res://*/rental.csdl|res://*/rental.ssdl|res://*/rental.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql78.1gb.ru;user id=gb_x_amiravrn;password=0063c98esg;persist security info=True;database=gb_x_amiravrn&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>
