<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.FileAppender">
      <file value="__2.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>


  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <!--<connectionStrings>
    <add name="rentalEntities" connectionString="metadata=res://*/rental.csdl|res://*/rental.ssdl|res://*/rental.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql78.1gb.ru;user id=gb_x_amiravrn;password=0063c98esg;persist security info=True;database=gb_x_amiravrn&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->

  <system.serviceModel>



    <client>
      <endpoint address="http://localhost:8007/RentalCore.RentalCore.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentalCore"
        contract="RentalCore.IRentalCore" name="BasicHttpBinding_IRentalCore" />
    </client>

   

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRentalCore" />
      </basicHttpBinding>
    </bindings>
    

    <services>
      <service name="RentalCore.RentalCore">

        <host>
          <baseAddresses>
            <!--<add baseAddress="http://amiravrn.ru/RentalCore.RentalCore.svc" />-->
            <add baseAddress="http://localhost:8009/RentalCore.RentalCore.svc"/>

          </baseAddresses>
        </host>

        <endpoint address=""  binding="basicHttpBinding" contract="RentalCore.IRentalCore" bindingConfiguration="BasicHttpBinding_IRentalCore">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>